.container {
  margin: 2em;
  padding: 2em;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  /* width: fit-content; */
}

.dogImg {
  width: 100%;
  aspect-ratio: 1/1;
  /* height: 500px; */
  object-fit: cover;
}
