.container {
  position: relative;
  margin: 1em;
  display: grid;
  grid-template-areas:
    "dogs dogs filters"
    "pages pages filters";
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  grid-template-columns: 2fr 1fr;
  border-radius: 10px;
  border: solid 5px var(--main-color);
  border-right: none;
}

.dogsContainer {
  min-width: fit-content;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

  grid-area: dogs;
}

.filtersContainer {
  padding: 1em;
  background: var(--main-color);
  max-width: fit-content;
  max-height: fit-content;

  grid-area: filters;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.showAllBtn {
  cursor: pointer;
  margin: 1em;
  height: 3em;
  width: 50%;
  background: var(--main-color2);
  border: 2px solid var(--neutral-color);
  border-radius: 5px;
  color: var(--neutral-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.temperamentFilters {
  display: flex;
  flex-direction: column;
  position: relative;
}

.filtersMenu {
  margin-top: 1em;
  padding: 0.5em;
  width: 15em;
  background: var(--main-color2);
  border-bottom: 2px solid var(--main-color);
  border-radius: 5px 5px 0 0;
  color: var(--neutral-color);

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.filtersMenu svg {
  margin: 0 0.5em;
}

.filtersOptions {
  position: absolute;
  /* padding: 0.5em; */
  max-height: 50em;
  width: 100%;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 100%);
  background-color: var(--main-color2);
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
  border-radius: 0 0 5px 5px;
  color: var(--neutral-color);
}

/* height */
.filtersOptions::-webkit-scrollbar {
  width: 0.3em;
}

/* Track */
.filtersOptions::-webkit-scrollbar-track {
  width: 1em;
  background: transparent;
}

/* Handle */
.filtersOptions::-webkit-scrollbar-thumb {
  background: var(--neutral-color);
  border-radius: 10px;
}

/* Handle on hover */
.filtersOptions::-webkit-scrollbar-thumb:hover {
  background: var(--neutral-color);
}

.pagesContainer {
  height: fit-content;
  align-self: flex-end;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  grid-area: pages;
}

.subContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
