.checkb {
  display: flex;
  flex-direction: row;
}

.orderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderBtn {
  width: 3em;
  height: 3em;
  border: solid 2px white;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
}
