.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pageNumBtn {
  display: flex;
  flex-direction: row;
}

.nextBtn,
.previousBtn {
  cursor: pointer;
  color: var(--main-color2);
  transition: all 0.3s ease;
}

.nextBtn:hover,
.previousBtn:hover {
  color: var(--main-color);
}

.disableBtn {
  cursor: auto;
  color: var(--secondary-color2);
}

.disableBtn:hover {
  cursor: auto;
  color: var(--secondary-color2);
}
